<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">
    <nav class="mt-2 mt-md-0 ms-md-center text-uppercase" style="font-size: larger;">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="/shop">Shop</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mr-2">Login</a>
        <a class="btn btn-outline-secondary mr-3">Sign up</a>
    </div>
  </div>